

 body{
    overflow-x: hidden;
 }

 #Banner {
   background-color:#eaeaea;
    
}



h1{
   text-align: center;
   color: white;
   border-radius: 15px;
   margin-bottom: 5PX;
}

 body{
    overflow-x: hidden;
 }

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.Title{
    text-align: center;
    margin-top: 60px;
}

.container-caja{
    width: 100%;
    display: flex; /*Para que esten uno al lado del otro */ 
    justify-content: center;
    flex-wrap: wrap; /*Para lograr hacerlo responsivo */ 
}

.caja1 {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 15px ;
    text-align: center;
    margin-top: 200 px;
    margin-bottom: 60px;
    position:relative; /* Para que exista relacion entre sus divs*/
}


.caja1 img {
    width:70% ;
}

.caja1 h2 {
    font-size: 16px;
    margin-top: 10px;
}


.caja1 p{
font-size: 14px;
color: rgba(78,78,78) ;
}

p{
    font-size: 14px;
    color: rgba(78,78,78) ;
    }


/*Efecto de movimiento*/




.caja1:hover img{
    /*transform: translateY(-60px) ;*/
    transform: rotate(-20px);
}

.caja1:hover h2{
    transform: translateY(-20px) ;
}

.caja1:hover p{
    transform: translateY(-20px) ;
}

.caja1:hover h1{
    transform: translateY(-20px) ;
} 
.caja1:hover img{
    transform: translateY(-20px) ;
}

.caja1:hover i{
    transform: translateY(-20px) ;
}

a{
    text-decoration: none;
}

.contenidociudad {
    transform: translateY(-5PX);
}


/*Galeria*/

/*Clima ciudad*/
#cardClima{
    display: block;
    border-radius: 10px;
    margin: 5px;

    justify-content: center;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(0, 63, 52) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cardBorder{
    display: block;
    border-radius: 10px;
    margin: 5px 15px 5px 5px;

    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
    display:block;
    margin:0 auto;
    width: fit-content;
}

.sun{
    display:block;
    margin:0 auto;
    width: fit-content;
    color: yellow;
    filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
    margin-top: -40px;
}

.cloud{
    display:block;
    margin:0 auto;
    width: fit-content;
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    /*animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;*/
}