h4 {
    color: white;
    text-align: center;
    font-size: 23px;
}

.card img {
    width: 100% ;
}


.container {
    width: 100%;
    display: flex; /*Para que esten uno al lado del otro */ 
    justify-content: center;
    flex-wrap: wrap; /*Para lograr hacerlo responsivo */ 
}
    

.card {
    width: 240px;
    height: 250px;
    margin: 9px;
    border-radius: 5px ;
    text-align: center;
    position:relative; /* Para que exista relacion entre sus divs*/
    box-shadow: 0px 1px 10px rgb(0, 0, 0,0.2) ;
    cursor: default;
    transition: all 400ms ease; /*Para que no se vea tosco el efecto*/
    overflow: hidden;
}

.animado {
  /*opacity: 0;*/
    transition: all 0.30s;
}

.mostrararriba{
    animation:mostrar_aRRIBA 1s;
}

@keyframes mostrar_aRRIBA{
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}


.card:hover {
    box-shadow:  5px 5px 20px  rgb(0, 0, 0,0.5 );
    transform: translatey(-3%);
   
}


.card .contenido{
    padding: 5px; 
    text-align: center;
}

.card .contenido{
    line-height: inherit 1.5;
}

.card h2{
    font-size: 16px;
    margin-top: 0;
    font-weight: bold;
   
}


@media screen and (max-width: 850px){
   
   .container-fluid h4{
        font-size: 23px;
    
    }


}