
<div class="container-fluid" style="background: rgb(255, 255, 255);">
    <div class="row">
        <div class="col" style=" background-color:#CAEC58;padding-top: 0; ">
             <h4 style="color: white; text-align: center;">Conoce sobre Entre Rios</h4>
        </div>
    </div>

    <div class="containerinfoentrerios" style="background: rgb(255, 255, 255); padding-top: 10px;">
        <div class="row justify-content-center">
                <div class="col-8 "  >
                    <p>
                        Entre Ríos, es una de las veintitrés provincias que conforman la República Argentina. Se encuentra, como su nombre lo indica flanqueada por dos colosos fluviales: el Río Paraná y el Río Uruguay, vocablos guaraníes que significan Pariente del Mar y Río de los Pájaros, respectivamente. Estos dos límites naturales enmarcan y definen a la vez el carácter de la región, proveyéndola de magníficos paisajes ribereños, incidiendo en su clima y naturaleza.

                    </p>
                    <p>
                        Es un componente de la Mesopotamia.  Un 15 por ciento de su territorio está compuesto de islas y tierras anegadizas
                        Es el noveno destino más visitado a nivel nacional.
                    </p>
                    <p>
                    Sus principales atractivos turísticos estan compuestos por: 
                    </p>
                    <!--Cards con info-->
                    <div class="container" style="background: white">
                        <div class="card animado">
                            <figure>
                                <img src="./assets/Imagenes/Termas.jpg" alt="Termas" height="150px">
                            </figure>
                            <div class="contenido">
                                <h2>Termas</h2>
                                <button type="button" class="btn btn-secondary" style="background-color: #CAEC58 !important;border-color: #CAEC58 !important;">Ver más</button>
                            </div>
                        </div>

                            <div class="card animado">
                                <figure>
                                    <img src="./assets/Imagenes/playas.jpg" alt="Termas" height="150px">
                                </figure>
                                <div class="contenido">
                                    <h2>Playas</h2>
                                    <button type="button" class="btn btn-secondary" style="background-color: #CAEC58 !important;border-color: #CAEC58 !important;">Ver más</button>
                                </div>
                            </div>
                 
                            
                                <div class="card animado">
                                    <figure>
                                        <img src="./assets/Imagenes/PAq.jpg" alt="Termas" height="150px">
                                    </figure>
                                    <div class="contenido">
                                        <h2>Parques acuaticos</h2>
                                        <button type="button" class="btn btn-secondary" style="background-color: #CAEC58 !important;border-color: #CAEC58 !important;">Ver más</button>
                                    </div>
                                </div>
                                
                                <div class="card animado">
                                    <figure>
                                        <img src="./assets/Imagenes/Palmar.jpg" alt="Termas" height="150px">
                                    </figure>
                                    <div class="contenido">
                                        <h2>Naturaleza</h2>
                                        <button type="button" class="btn btn-secondary" style="background-color: #CAEC58 !important;border-color: #CAEC58 !important;">Ver más</button>
                                    </div>
                                </div>

                                <div class="card animado">
                                    <figure>
                                        <img src="./assets/Imagenes/Carnaval.jpg" alt="Termas" height="150px">
                                    </figure>
                                    <div class="contenido">
                                        <h2>Carnaval</h2>
                                        <button type="button" class="btn btn-secondary" style="background-color: #CAEC58 !important;border-color: #CAEC58 !important;">Ver más</button>
                                    </div>
                                </div>

                                <div class="card animado">
                                <figure>
                                    <img src="./assets/Imagenes/LH.jpg" alt="Termas" height="150px">
                                </figure>
                                <div class="contenido">
                                    <h2>Lugares Historicos</h2>
                                    <button type="button" class="btn btn-secondary" style="background-color: #CAEC58 !important;border-color: #CAEC58 !important;">Ver más</button>
                                </div>
                                </div>

                                <div class="contenido">
                                    <p>Los climas característicos son el subtropical sin estación seca al norte y el templado pampeano al sur. La provincia entrerriana es recorrida por vientos provenientes del océano Atlántico, además de vientos locales como el Pampero, la Sudestada y el Viento Norte. </p>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let animado = document.querySelectorAll(".animado"); /* Inicio variable . El valor que le doy es para que en todo mi html tome las clases que tiene animado.*/

        function mostrarScroll() { /*Detectar cantidad de scroll*/
            let scrollTop= document.documentElement.scrollTop;

            for(var i=0; i<animado.length; i++){ /*Animado.Lenght me permite saber la cantidad de elementos de animado*/
                let alturaAnimado = animado [i].offsetTop; /*OffserTop me ayuda a calcular la distancia que hay entre la ventana hacia los elementos del efecto*/
                if (alturaAnimado+200 <scrollTop) {
                    animado[i].style.opacity=1;
         animado[i].classList.add("mostrararriba")
        }
    }
}

window.addEventListener ('scroll' , mostrarScroll);
    </script>