<div class="divmenu" >
    
    <app-navbar></app-navbar>


<img class="img-fluid" src="./assets/Imagenes/logoredu.png"  alt="Logoredu">
</div>

<div class="container-fluid">
<div class="row justify-content-center">

<div class="col-12 justify-content-center ">
    <img src="./assets/Imagenes/envelop.png" class="img mx-auto d-block" id="stop" alt="Registro OK">

    <h2>Cuenta Activada</h2>
    <p>Ahora puedes acceder a todos los beneficios de ser un usuario registrado</p>
</div>
<div class="col-12">
<a routerLink="/principal"><button class="btn float-right ini " style="margin-left: 5px;">Volver al inicio</button></a>
<a routerLink="/usuario"><button class="btn float-right per ">Iniciar Sesión</button></a>
</div>
</div>
</div>

