#Footer {
    background-color:#20c3ec;
    height: 45px;

}

#Footer p {
    color: rgb(255, 255, 255);
    cursor: default;
    font-weight: bold;
}

/*Formulario*/
#Form{
    justify-content:center;
    margin: auto;
  
 
}


#ButtonEnviar {
     border-radius: 20px;
     background-color: #20c3ec!important;
      border: none;
      transition-duration: 0.2s;
      float:none;
      text-align:center;
      width: 150px;
}

#ButtonEnviar:hover{
    background-color: white!important;
    border: solid 2px #20c3ec;
    box-shadow: #20c3ec 1px;
    color: #20c3ec;
    cursor: pointer;
    font-weight: bold;
}

#Contactanos{
        display:block;
        margin:auto;
        z-index: 1;
}





@media screen and (max-width: 850px){
    #Footer {
        height: 5px;
    }
    #Footer p {
        font-size:xx-small;
        bottom: 1500px;
    }
    .container-fluid h4{
        font-size: 20px;
        text-align: center;
    }

    #Contactanos h4{
        font-size: 15px;
        text-align: center;
    }
}