#Containerprincipal {
  background-color: white;
  height: 400px;
  transform: translateY(70px);
}

h2 {
  text-align: center;
  margin-top: 20px;
  transform: translateY(10px);
}

.form-control{
 border-radius: 20px;

}

#Bienvenido{
  justify-content: center;
}

#Imagen {
  background-image: url(./../../../assets/Imagenes/sesion/Gentefeliz.jpg) ;
  background-size: cover;
  height: 550px;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 250px;
  margin-left: 150px;
  transform: translateY(100px);
  width: 250px; 
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.212)!important;
}


.botonregistrado {
  border-radius: 10px;
  width: 150px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #caec58;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.lgbtn {
  width: auto;
  padding: 10px 18px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:#f15d39;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.register{
  background-color: #20c3ec;
  border-radius: 10px;
}
.olvido{
  background-color: #caec58; 
  margin-left: 10px;
  width: 35%;
  padding: 10px 18px;
}

 .olvido{
  border-radius: 10px;
}
.cancelbtn {
  border-radius: 10px;
}