<app-navbar></app-navbar>
<div id="login">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete=off>
    <div class="container">
      <label><strong>E-Mail</strong> </label>
      <input pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" #email="ngModel" name="email"
        [(ngModel)]="service.formData.email" type="text" class="form-control" placeholder="Ingrese E-mail Registrado"
        required>
      <div [hidden]="email.valid || (email.pristine && !email.touched)" class="alert alert-danger">
        <div>
          El <strong>Correo electrónico</strong> es requerido. Y solo puede contener letras,
          numeros, puntos, guiones y guion bajo.
        </div>
      </div>
      <label for="psw"><b>Contraseña</b></label>
      <input #password="ngModel" name="password" [(ngModel)]="service.formData.password" type="password"
        class="form-control" placeholder="Ingrese su Contraseña" required pattern=".{4,12}$">
      <div [hidden]="password.valid || (password.pristine && !password.touched)" class="alert alert-danger">
        <div>
          Debe ingresar su contraseña.
        </div>
      </div>
      <div *ngIf="error" class="alert alert-danger">
        <div>
          <strong>{{mensaje}}</strong>
        </div>
      </div>
      <button type="submit" style="margin-top: 10px;"
        class="btn btn-secondary botonregistrado" [disabled]="form.invalid"><strong>Ingresar</strong></button>
    </div>
  </form>
  <div class="container" style="background-color:#f1f1f1">
    <a routerLink="/"><button type="button" class="cancelbtn">Cancelar</button></a>
    <button type="button" class="olvido">Olvidó la contraseña</button>
    <a href="#" routerLink="/formulario"><button type="button"
        class="register" ><strong>Registrarse</strong></button></a>
  </div>
</div>