


<!--Banner foro-->
<div class="container-fluid " style="background: #FAFBFD" >
    
    <app-navbar></app-navbar>
    <div class="row" style="background: #FAFBFD ; transform: translateY(80px);">
        <div class="col-xl-6" id="Bienvenido">
          <h2>Bienvenido a nuestro foro</h2>
          <p> Al participar de nuestro foro debemos entender que la idea es generar un intercambio de ideas ,consultas y conocimiento. </p>
          <h5 style="color:#20c3ec; text-align: center;">Reglas : </h5>
  
            <ol style="margin-left: 15px;color:  rgba(128, 128, 128, 0.815);text-align: justify;;">
                <li>Las peleas entre miembros deben evitarse.</li>
                <li>El vocabulario es libre siempre y cuando no se utilice para insultar.</li>
                <li>No están permitidos mensaje cuyo contenido sea agraviante, discriminatorio, insultante, pornográfico o difamatorio para cualquier miembro.</li>
                <li>El foro es constantemente revisado, pero en caso de que alguna situación no haya sido controlada, pueden consultar a los moderadores o administración en caso de cualquier anomalía.</li>
                <li>La finalidad de este foro es propiciar un espacio de dialogo y discusión sobre los destinos de Entre Rios</li>
              </ol>  
                 <button type="button" id="ButtonPrimerEntrada" class="btn btn-primary">Haz tu primera entrada</button>
             
        </div>
        <div class="col-xl-6">
            <img src="./../../../assets/Imagenes/Foro/Foro.jpg" class="img-fluid">
        </div>

        <div class= "container-caja" style="background-color: white;">
            <!--Todos los topicos-->
           <div class="caja1">
               <img src="./../../../assets/Imagenes/Foro/1.png" alt="Todas las discusiones"> 
               <h2> <strong>Ver todos los tópicos</strong></h2>
           </div>
        
            <!--Agragar tema a foro-->
            <div class="caja1">
                <img src="./../../../assets/Imagenes/Foro/2.png" alt="Añadir"> 
                <h2> <strong> Agregar un nuevo tema </strong></h2> 
            </div>

            <!--Chat-->
            <div class="caja1">
                <img src="./../../../assets/Imagenes/Foro/3.png" alt="Chat"> 
                <h2><strong>Chatea con otros usuarios</strong></h2>
            </div>

        </div>       
        </div>
     
          
    </div>
<app-footer></app-footer>
   

       