
  <div class="container-fluid" style="background-color: white;">
      <div class="row min-vh-100 flex-column flex-md-row">
          <aside class="col-12 col-md-3 col-xl-2 p-0 flex-shrink-1" id="Sidebar">
              <nav
                  class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row py-2 text-center sticky-top">
                  <div class="align-items-center">
                      <img src='./assets/Imagenes/logoside.png' alt="logo full viajes"
                          class="img-fluid rounded-circle my-4 p-1 d-none d-md-block shadow">
                  </div>
                  <button type="button" class="navbar-toggler border-0 order-1" data-toggle="collapse"
                      data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse prder-last" id="nav">
                      <ul class="navbar-nav flex-column w-100 justify-content-center">
                          <li class="nav-item">
                              <a routerLink="/perfil" class="d-block p-3 text-light nav-link active"
                                  style="border-top: white solid 1px;background-color:#f17d39;"> <i
                                      class="fas fa-user nr-4 "></i> Perfil </a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="/ajustes" class="d-block p-3 text-light nav-link"> <i
                                      class="fas fa-cog nr-4 "></i> Ajustes </a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="/foro" class="d-block p-3 text-light nav-link"> <i
                                      class="fas fa-bullhorn nr-4  "></i> Foro </a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="/climahistorico" class="d-block p-3 text-light nav-link"> <i
                                      class="fas fa-cloud"></i> Clima </a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="/principal2" class="d-block p-3 text-light nav-link"
                                  style="border-top: white solid 1px;"> <i class="fas fa-home nr-4 "></i>Volver a
                                  página principal </a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="/logout" class="d-block p-3 text-light nav-link"><i
                                      class="fas fa-sign-out-alt nr-4 "></i> Cerrar Sesión </a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </aside>

       
<main class="col px-0 flex-grow-1">
  
  <img src="./assets/Imagenes/clima-iconos/ClimaHist.png" alt="Clima Hist" class="img-fluid">
  <div class="container py-3">
      <article>
        <div class="container px-6">
          <div class="col" id="cardBorder">
            <div class="row">
              <div class="card card-body" id="cardBorder">
                <form (submit)="submitHistorico(cityName, dateStart, dateEnd)">
        
                  <div class="container-md">
                    <div class="row">
                      <div class="col">
                        <label for="cityName">Ciudad</label>
                        <input type="text" placeholder="Ciudad" class="form-control" autofocus #cityName>
                        <div *ngIf="vacio" class="alert alert-danger">
                          <div>
                            Debe ingresar el nombre de una ciudad
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
        
        
                  <div class="container-md">
                    <div class="row">
                      <div class="col">
                        <label for="dateStart">Fecha inicial</label>
                        <input type="date" class="form-control" #dateStart id="dateStart" name="trip-start" value="2021-04-20"
                          min="2010-01-01" max="2021-4-15">
        
                      </div>
                      <div class="col">
        
                        <label for="dateEnd">Fecha final:</label>
                        <input type="date" class="form-control" #dateEnd id="dateEnd" name="trip-end" value="2021-04-21"
                          min="2010-01-01" max="2021-4-15">
                      </div>
                    </div>
                    <div *ngIf="excede" class="alert alert-success">
                      <div>
                        Al superar los 4 días de consulta, se mostrarán los primeros 4 a partir de la fecha elejida, contacte al administrador para ver más días.
                      </div>
                    </div>
                  </div>
                  

        
        
        
                  <button class="btn btn-primary btn-block mt-2">
                    Obtener clima historico
                  </button>

                </form>
              </div>
            </div>



            <div class="table-responsive">
              <h5>Clima historico:</h5>
              <table class="table table-striped  ">
                <thead>
                  <tr>
                  
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Temperatura</th>
                    <th>Humedad</th>
                    <th>Viento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of weather.days">
                    <th>{{ item.datetime }}</th>
                    <td><img src="./assets/Imagenes/clima-iconos/{{item.icon}}.png" alt="imagenClima" width="30"
                        height="30"></td>
                    <td>{{ item.temp }}º</td>
                    <td>{{ item.humidity }}%</td>
                    <td>{{ item.windspeed }}kph</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
  </div>
 
</main>
 
<div class="text-center p-3 col-12" id="Footer" style="background-color: #f15d39;padding-top: 10 px;" >
  <strong>
      <p style="color:white;">© 2021 Copyright: Grupo 2B.</p>
  </strong>
</div>

</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

