
:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
  }
  #Sidebar {
    background-color: #f15d39!important;
  }
  
  a {
    text-decoration:none ;
  }
  
  a:hover {
    background-color: #f17d39;
    color: white!important;
  }
  
  
  .nav-link:hover {
    font-size: 17px;
    color: #20c3ec!important;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .logo {
      width: 150px;
      height: 150px;
  }
  
  .portada .avatar{
    display: block;
    align-items: center;
    margin:auto;
    height: 200px;
    width: 200px;
    transform: translateY(100px);
    box-shadow: 2px 2px #30303057;
    
  } 
  
  
  .box{
    width: 450px;
    height: 350px;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgba(177, 177, 177, 0.933);
    border-radius: 15px ;
    text-align: justify;
    margin-top: 200 px;
    position:relative; /* Para que exista relacion entre sus divs*/
    background-color:white;
  }
  
    
  .inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
  }
  
  .portada h2{
    text-align: center;
    color: rgb(112, 112, 112);
  }
  
  .portada h5{
    text-align: center;
    color: rgb(117, 117, 117);
    font-weight: 300;
  }
  
  .info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .portada{
    height: 250px;
    background-image: url("./../../../assets/Imagenes/Portada.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  @media only screen and (max-width: 600px)  {
  
    .aboutme {
        width: 450px;
        height: 490px;
    }
  
    .portada {
        height: 160px;
    }
  
    .portada .avatar{
       
        height: 150px;
        width: 150px;
        transform: translateY(70px);
      } 
      
      #Name {
        transform: translateY(-35px);
      }
  
      #Nickname {
        transform: translateY(-30px);
      }
    
  }
  
  @media only screen and (max-width: 400px)  {
  
    .aboutme {
        width: 450px;
        height: 490px;
    }
  
    .portada {
        height: 150px;
    }
  
    .portada .avatar{
       
        height: 120px;
        width: 120px;
        transform: translateY(65px);
      } 
      
      #Name {
        transform: translateY(-45px);
        font-size: 30px;
      }
  
      #Nickname {
        transform: translateY(-45px);
        font-size: 20px;
      }
  
      .box {
        transform: translateY(-45px);
       
      }
    
  }
  
  