body {
    background-image: url(img/Header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Estilos Generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent(238, 105, 105);
}


/*Estilos Header*/


/*Estilos para eliminar ediciones de bootstrap*/
.header .navbar {
    background-color: transparent !important; /*!Important elimina el color de fondo por defecto que Bootstrap aplica.*/
    margin-left: 50%;
}

main {
    width: 100%;
    max-width: 1000px;
}

/*Estilo de botones*/

button {
    transition-duration: 0.4s;
    background-color: transparent;
    border: none;
    position: relative;
    width: 120px;
    float: left;
}


    /*Efecto en Navbar*/
    button:hover {
        cursor: pointer;
        background-color: #f15d39;
        color: white;
        border-radius: 8px;
    }



i:hover {
    border-radius: 8px;
    background-color: #f15d39;
    color: white;
}

.dropdown-item:hover {
    border-radius: 10px;
    text-decoration: none;
}



@media only screen and (max-width: 750px) {

    .header {
        background-image: url(img/Header-devices.png) no-repeat;
        background-size: cover;
    }
}
