#Sidebar {
  background-color: #f15d39!important;
}

a {
  text-decoration:none ;
}

a:hover {
  background-color: #f17d39;
  color: white!important;
}
.box{
  margin-left: 50px;
  margin-top: 15px;
}

#userfoto {
  height: 200px;
  width: 200px;
}