<div class="d-flex" >
    <div id="sidebar-container" class= "bg-secondary" style="background-color: #f15d39!important; color:white">
       
        <div class="sidebar-header" id="UserProfile" style="align-items: center;">
            <img src='./../../../assets/Imagenes/Diseño sin título.png' class="img-fluid  avatar nr-2" >
          
        </div>

        <div class="menu" style="text-decoration: none;">

            <a  class="closebtn"><i class="fas fa-times-circle"></i>
            </a>
            <a href="#" class="d-block p-3 text-light" style="border-top: white solid 1px;">  <i class="fas fa-user nr-4 "></i> Perfil </a>
            
            <a href="#" class="d-block p-3 text-light">  <i class="fas fa-cog nr-4 "></i> Ajustes </a>
            
            <a href="#" class="d-block p-3 text-light">   <i class="fas fa-bullhorn nr-4  "></i> Foro </a>
            <br>
            <br>
            <br>
            <br>
            <br>
             <br>
            <br>
            <a href="#" class="d-block p-3 text-light" style="border-top: white solid 1px;"> <i class="fas fa-home nr-4 "></i>Volver a página principal </a>
            
            <a href="#" class="d-block p-3 text-light"><i class="fas fa-sign-out-alt nr-4 "></i> Cerrar Sesión  </a>
        </div>
    </div>
