.avatar{
    width:150px;
    height:150px;
    border-radius:150px;
    box-shadow: 1px 1px rgb(255, 255, 255);
}

:root {
 --primary: #f15d39!important;
 --light: white;

}

body{
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: var(--primary)
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .sidebar-header{
    padding: .875rem 1.25rem;
    
}

#sidebar-container .menu{
    width: 18rem;
    
}

.bg-primary {
    background-color: #f15d39!important ;
}

a:hover {
    text-decoration: none!important;
    background-color: #f17d39!important;
    color: white!important;
    font-size: 17px;
}