/*Estilo Generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  
    background-color: transparent(238, 105, 105);
}

body{
    background-color: #ebebeb !important;
    background-size: cover;
}

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}