<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-3 col-xl-2 p-0 flex-shrink-1" id="Sidebar">
            <nav
                class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row py-2 text-center sticky-top">
                <div class="align-items-center">
                    <img src='./assets/Imagenes/logoside.png' alt="logo full viajes"
                        class="img-fluid rounded-circle my-4 p-1 d-none d-md-block shadow">
                </div>
                <button type="button" class="navbar-toggler border-0 order-1" data-toggle="collapse" data-target="#nav"
                    aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse prder-last" id="nav">
                    <ul class="navbar-nav flex-column w-100 justify-content-center">
                        <a routerLink="/perfil" class="d-block p-3 text-light" style="border-top: white solid 1px;"> <i
                                class="fas fa-user nr-4 "></i> Perfil </a>
                        <a routerLink="/ajustes" class="d-block p-3 text-light"><i class="fas fa-cog nr-4 "></i> Ajustes </a>
                        <a routerLink="/foro" class="d-block p-3 text-light"> <i class="fas fa-bullhorn nr-4  "></i> Foro</a>
                        <a routerLink="/admusers" class="d-block p-3 text-light"> <i class="fas fa-users nr-4"></i>
                            Usuarios</a>
                        <a routerLink="/admcitys" class="d-block p-3 text-light"> <i
                                class="fas fa-map-marker-alt nr-4"></i> Ciudades</a>
                        <a routerLink="/admatrac" class="d-block p-3 text-light"> <i
                                class="fas fa-map-marked-alt nr-4"></i> Atractivos</a>
                        <a routerLink="/principal2" class="d-block p-3 text-light" style="border-top: white solid 1px;">
                            <i class="fas fa-home nr-4 "></i> Página principal </a>
                        <a routerLink="/logout" class="d-block p-3 text-light"><i class="fas fa-sign-out-alt nr-4 "></i>
                            Cerrar Sesión </a>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col px-0 flex-grow-1">
            <div class="container py-3">
                <article>
                    <div class="inner-content" style="background-color: rgb(255, 255, 255); height: 1300px;"
                        id="contenido">
                        <!--Contenido-->
                        <div class="container">
                            <div class="row">
                                <h2>Agregar Ciudad</h2>
                            </div>
                            <div class="row">
                                <div class="box">
                                    <form (ngSubmit)="onSubmit()" [formGroup]="cityForm" autocomplete="off">
                                        <div class="form-group">
                                            <label>Ciudad:</label>
                                            <input type="textbox" name="ciudad" formControlName="ciudad"
                                                class="form-control">
                                            <div *ngIf="cityForm.get('ciudad')?.invalid && (cityForm.get('ciudad')?.dirty || cityForm.get('ciudad')?.touched)"
                                                class="alert alert-danger">
                                                El nombre de la ciudad es requerido
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Código Postal</label>
                                            <input type="textbox" name="cp" class="form-control cp" formControlName="cp" (keyup)="corregido()">
                                            <div *ngIf="cityForm.get('cp')?.invalid && (cityForm.get('cp')?.dirty || cityForm.get('cp')?.touched)" class="alert alert-danger">
                                                El Código Postal de la ciudad es requerido
                                            </div>
                                        </div>
                        
                        
                                        <div class="form-group">
                                            <label>Coordenadas</label>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="latitude">Latitud</label>
                                                <div class="col-md-9">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="latnordsud" value="N" id="nord" formControlName="latnordsud">
                                                        N
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <label class="radio-inline">
                                                        <input type="radio" name="latnordsud" value="S" id="sud" checked="" formControlName="latnordsud">
                                                        S
                                                    </label>
                                                    
                                                    <input class="form-control sexagesimal" id="latitude_degres" type="textbox" (keyup)="corregido()" formControlName="lat_grad">
                                                    <label for="latitude_degres">°</label>
                                                    <input class="form-control sexagesimalsec sexagesimal" id="latitude_minutes" type="textbox" (keyup)="corregido()" formControlName="lat_min">
                                                    <label for="latitude_minutes">'</label>
                                                </div>
                                            </div>
                        
                        
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="latitude">Longitud</label>
                                                <div class="col-md-9">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="longeo" value="E" id="east" formControlName="longeo">
                                                        E
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <label class="radio-inline">
                                                        <input type="radio" name="longeo" value="W" id="west" checked="" formControlName="longeo">
                                                        W
                                                    </label>
                                                    <input class="form-control sexagesimal" id="latitude_degres" type="textbox" (keyup)="corregido()" formControlName="long_grad" >
                                                    <label for="latitude_degres">°</label>
                                                    <input class="form-control sexagesimal" id="latitude_minutes" type="textbox" (keyup)="corregido()" formControlName="long_min" >
                                                    <label for="latitude_minutes">'</label>
                        
                                                    
                                                    <div *ngIf="( ((cityForm.get('latnordsud')?.invalid || cityForm.get('longeo')?.invalid) && (cityForm.get('lat_grad')?.touched||cityForm.get('lat_min')?.touched ||cityForm.get('long_grad')?.touched||cityForm.get('long_min')?.touched)    )) || (cityForm.get('lat_grad')?.invalid && (cityForm.get('lat_grad')?.dirty || cityForm.get('lat_grad')?.touched)) || (cityForm.get('lat_min')?.invalid && (cityForm.get('lat_min')?.dirty || cityForm.get('lat_min')?.touched))|| (cityForm.get('long_grad')?.invalid && (cityForm.get('long_grad')?.dirty || cityForm.get('long_grad')?.touched))|| (cityForm.get('long_min')?.invalid && (cityForm.get('long_min')?.dirty || cityForm.get('long_min')?.touched))" class="alert alert-danger">
                                                        Las coordenadas son necesarias para agregar una ciudad.
                        
                                                        <!-- <div *ngIf="(cityForm.get('lat_grad')?.hasError('pattern'))||(cityForm.get('lat_min')?.hasError('pattern'))||(cityForm.get('long_grad')?.hasError('pattern'))||(cityForm.get('long_min')?.hasError('pattern'))">
                                                            Solo se aceptan números
                                                        </div> -->
                                                    </div>
                                            </div>
                        
                        
                                            <div class="form-group">
                                                    <label>Descripción</label>
                                                    <textarea class="form-control" name="descripcion" formControlName="descripcion"></textarea>
                                                    
                                                    <div *ngIf="cityForm.get('descripcion')?.invalid && (cityForm.get('descripcion')?.dirty || cityForm.get('descripcion')?.touched)" class="alert alert-danger">
                                                        Debe ingresar una breve descripcion de la ciudad.
                                                    </div>
                                            </div>
                                                
                                            
                                            <div class="form-group" >
                                                    <!-- SI ESTA REGISTRADA -->
                                                    <div *ngIf="errorc"  class="alert alert-danger" style="text-align: center;">
                                                        <div>
                                                            Ya se encuentra registrada una ciudad en esas coordenadas ({{this.coordenadasresp}}).
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn float-right btn-outline-success" style="margin-left: 5px;" [disabled]="cityForm.invalid">Agregar</button>
                                                    <button routerLink="/admcitys" type="button" class="btn float-right btn-outline-danger">Cancelar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin Contenido-->
                </article>
            </div>
            <div class="text-center p-3 col-12" id="Footer" style="background-color: #f15d39;padding-top: 10 px;">
                <strong>
                    <p style="color:white;">© 2021 Copyright: Grupo 2B.</p>
                </strong>
            </div>
        </main>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>