<app-sidebardash></app-sidebardash>
<div class="container">
    <div class="row">
        <h2>Agregar Ciudad</h2>
    </div>
    <div class="row">
        <div class="box">
            <form (submit)="submit()" [formGroup]="cityForm">
                <div class="form-group">
                    <label>Ciudad:</label>
                    <input type="textbox" name="ciudad" class="form-control" formControlName="ciudad">
                    
                    <div *ngIf="cityForm.get('ciudad')?.invalid && (cityForm.get('ciudad')?.dirty || cityForm.get('ciudad')?.touched)" class="alert alert-danger">
                        El nombre de la ciudad es requerido
                    </div>
                </div>


                <div class="form-group">
                    <label>Código Postal</label>
                    <input type="textbox" name="cp" class="form-control cp" formControlName="cp" (keyup)="corregido()">
                    <div *ngIf="cityForm.get('cp')?.invalid && (cityForm.get('cp')?.dirty || cityForm.get('cp')?.touched)" class="alert alert-danger">
                        El Código Postal de la ciudad es requerido
                    </div>
                </div>


                <div class="form-group">
                    <label>Coordenadas</label>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="latitude">Latitud</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input type="radio" name="latnordsud" value="N" id="nord" formControlName="latnordsud">
                                N
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="latnordsud" value="S" id="sud" checked="" formControlName="latnordsud">
                                S
                            </label>
                            
                            <input class="form-control sexagesimal" id="latitude_degres" type="textbox" (keyup)="corregido()" formControlName="lat_grad" >
                            <label for="latitude_degres">°</label>
                            <input class="form-control sexagesimalsec sexagesimal" id="latitude_minutes" type="textbox" (keyup)="corregido()" formControlName="lat_min">
                            <label for="latitude_minutes">'</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="latitude">Longitud</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input type="radio" name="longeo" value="E" id="east" formControlName="longeo">
                                E
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="longeo" value="O" id="west" checked="" formControlName="longeo">
                                O
                            </label>
                            <input class="form-control sexagesimal" id="latitude_degres" type="textbox" (keyup)="corregido()" formControlName="long_grad" >
                            <label for="latitude_degres">°</label>
                            <input class="form-control sexagesimal" id="latitude_minutes" type="textbox" (keyup)="corregido()" formControlName="long_min" >
                            <label for="latitude_minutes">'</label>

                            
                            <div *ngIf="( ((cityForm.get('latnordsud')?.invalid || cityForm.get('longeo')?.invalid) && (cityForm.get('lat_grad')?.touched||cityForm.get('lat_min')?.touched ||cityForm.get('long_grad')?.touched||cityForm.get('long_min')?.touched)    )) || (cityForm.get('lat_grad')?.invalid && (cityForm.get('lat_grad')?.dirty || cityForm.get('lat_grad')?.touched)) || (cityForm.get('lat_min')?.invalid && (cityForm.get('lat_min')?.dirty || cityForm.get('lat_min')?.touched))|| (cityForm.get('long_grad')?.invalid && (cityForm.get('long_grad')?.dirty || cityForm.get('long_grad')?.touched))|| (cityForm.get('long_min')?.invalid && (cityForm.get('long_min')?.dirty || cityForm.get('long_min')?.touched))" class="alert alert-danger">
                                Las coordenadas son necesarias para agregar una ciudad.
                            </div>
                    </div>


                    <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control" name="descripcion" formControlName="descripcion"></textarea>
                            
                            <div *ngIf="cityForm.get('descripcion')?.invalid && (cityForm.get('descripcion')?.dirty || cityForm.get('descripcion')?.touched)" class="alert alert-danger">
                                Debe ingresar una breve descripcion de la ciudad.
                            </div>
                    </div>
                        
                    
                    <div class="form-group" >
                            <!-- SI ESTA REGISTRADA -->
                            <div *ngIf="errorc"  class="alert alert-danger" style="text-align: center;">
                                <div>
                                    La ciudad en {{this.coordenadasresp}} ya se encuentra registrada.
                                </div>
                            </div>
                            <button type="submit" class="btn float-right btn-outline-success" style="margin-left: 5px;"[disabled]="cityForm.invalid">Agregar</button>
                            <button routerLink="/admcitys" type="button" class="btn float-right btn-outline-danger">Cancelar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>