/* You can add global styles to this file, and also import other style files */
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .loading{
    max-width: 80%;
  }