<body>

    <!--SeccionBanner-->
    <app-navbar></app-navbar>
    
    <div class="container-fluid CONTENEDOR" >

        <div class="row">
            <div class="col-12">
                <img src="./../../../assets/Imagenes/Ciudades/Atractivos.png" class="img-fluid" id="Atrac" alt="">
            </div>
        </div>
        <br>
        <br>
        <div class="row contenedorinfo">
            <div class="col-md-4">
                <img class="img-fluid rounded" src="./../../../assets/Imagenes/Ciudades/VillaElisa/Balneario El rocha/balne.jpg" alt="">
            </div>
            <div class="col-md-7">
                    <h1> Balneario Rocha</h1>
            
                    <p>
                        Nuestra bondadosa y exuberante naturaleza está dispuesta para vos en el Balneario Camping Municipal Rocha, un arroyo de vertientes de aguas cristalinas y poco profundas rodeado de un entorno natural mágico, diseñado para los amantes de pasar el tiempo al aire libre, compartiendo un asado o simplemente relajándose al sol con la familia o amigos. Nuestro balneario es un lugar tranquilo y seguro, ideal para la familia.
                    </p>

                    <button type="button" class="btn btn-primary wsp "><i class="fab fa-whatsapp"></i></button>
                    <button type="button" class="btn btn-primary fb"><i class="fab fa-facebook-f"></i></button>
            </div>
        </div>

        <br>
        <br>
        <div class="row contenedorinfo">
            <div class="col-md-4">
                <img class="img-fluid rounded" src="./../../../assets/Imagenes/Ciudades/VillaElisa/Termiñas/señoratermas.jpg" alt="">
            </div>
            <div class="col-md-7">
                    <h1> Termas</h1>
            
                    <p>
                        Emplazada en un predio de 41 has., rodeada de absoluta paz, se encuentra Termas Villa Elisa, nuestra máxima expresión del bienestar. Un espacio diseñado especialmente para que experimentes el poder del agua termal mineromedicinal y sientas cómo se equilibra tu ser físico, mental, emocional y espiritual.
                        Nuestras aguas poseen fuerte mineralización con excelente acción terapéutica, que vas a poder disfrutar a través de baños termales y spa en un privilegiado entorno natural. Deportes, variada oferta gastronómica y de alojamientos, completan la propuesta cuidadosamente dispuesta para despertar todos tus sentidos.
                    </p>
                    <p>
                       <strong> <i class="far fa-clock"></i> Horario:</strong> de 08 a 20 hs
                    </p>

                    <a href="https://termasvillaelisa.com/" target="_blank">Click Aquí para ir a la web oficial</a>
                    <br>
                    <button type="button" class="btn btn-primary wsp"><i class="fab fa-whatsapp "></i></button>
                    <button type="button" class="btn btn-primary fb"><i class="fab fa-facebook-f"></i></button>
            </div>


    </div>
  