
#Atrac{
    transform: translateY(40px);
}

.CONTENEDOR{
    background-color: rgb(255, 255, 255);
}

.wsp {
    background-color: #00c400;
    border-radius: 50px;
    border: none;
}

.fb{
   background-color:  #0178f8;
   border-radius: 50px;
   border: none;
}

h1{
    text-align: center;
    color: rgb(95, 95, 95);
}

p {
    color: rgb(139, 139, 139);
    text-align: justify;
}

.contenedorinfo {
  background-color:#ffffff;
  padding: 10px;
  border-radius: 20px;
 
}