<div id="sidebar-container" class="bg-secondary" style="background-color: #f15d39!important; color:white">
    <div class="sidebar-header" id="UserProfile" style="align-items: center;">
        <div class="sidebar-logo">
            <img src='./assets/Imagenes/logoside.png' class="img-fluid  avatar nr-2">
        </div>
    </div>
    <div class="menu" style="text-decoration: none;">
        <a routerLink="/perfil" class="d-block p-3 text-light" style="border-top: white solid 1px;"> <i
                class="fas fa-user nr-4 "></i> Perfil </a>
        <a href="#" class="d-block p-3 text-light"> <i class="fas fa-cog nr-4 "></i> Ajustes </a>
        <a href="#" class="d-block p-3 text-light"> <i class="fas fa-bullhorn nr-4  "></i> Foro </a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a routerLink="/principal2" class="d-block p-3 text-light" style="border-top: white solid 1px;"> <i
                class="fas fa-home nr-4 "></i>Volver a página principal </a>
        <a routerLink="/logout" class="d-block p-3 text-light"><i class="fas fa-sign-out-alt nr-4 "></i> Cerrar Sesión </a>
    </div>
</div>
