<app-sidebardash></app-sidebardash>
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <i class="fas fa-user nr-4 "></i>
            <a routerLink="/perfil"> Perfil </a>
        </div>
        <div class="card" style="width: 18rem;">
            <i class="fas fa-cog nr-4 "></i>
            <a href="#"> Ajustes </a>
        </div>
        <div class="card" style="width: 18rem;">
            <i class="fas fa-bullhorn nr-4  "></i>
            <a href="#"> Foro</a>
        </div>
        <div class="card" style="width: 18rem;">
            <i class="fas fa-users nr-4"></i>
            <a routerLink="/admusers"> Usuarios</a>
        </div>
        <div class="card" style="width: 18rem;">
            <i class="fas fa-map-marker-alt nr-4"></i>
            <a routerLink="/admcitys"> Ciudades</a>
        </div>
        <div class="card" style="width: 18rem;">
            <i class="fas fa-map-marked-alt nr-4"></i>
            <a routerLink="/admatrac"> Atractivos</a>
        </div>

    </div>
</div>