<app-sidebardash></app-sidebardash>
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <a routerLink="/perfil">
                <i class="fas fa-7x  fa-user nr-4 "></i>
                <br>Perfil
            </a>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="#">
            <i class="fas fa-7x  fa-cog nr-4 "></i>
            <br> Ajustes
            </a>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="#">
                <i class="fas fa-7x  fa-bullhorn nr-4  "></i>
                <br>Foro</a>
        </div>
        <div class="card" style="width: 18rem;">
            <a routerLink="/admusers">
                <i class="fas fa-7x fa-users"></i>
                <br>Usuarios</a>
        </div>
        <div class="card" style="width: 18rem;">
            <a routerLink="/admcitys">
                <i class="fas fa-7x  fa-map-marker-alt"></i>
                <br>Ciudades</a>
        </div>
        <div class="card" style="width: 18rem;">
            <a routerLink="/admatrac">
                <i class="fas fa-7x  fa-map-marked-alt nr-4"></i>
                <br>Atractivos</a>
        </div>

    </div>
</div>