:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
  }
  .card{
    border: 3px solid rgba(177, 177, 177, 0.933);
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder; 
    border-radius: 10px ;
  }
  .card:hover{
    background: black;
  }
  .card a:hover {
    color: white;
  }
  .card a{
    color: #f17d39;
  }
  .container{
    width: 100%;
    margin-left:50px;
    margin-top:40px;
    justify-content: center;
    flex-wrap: wrap;
  }