<app-sidebardash></app-sidebardash>
<div class="container">
    <div class="row">
        <h2>Agregar Usuario</h2>
    </div>
    <div class="row">
        <div class="box">
            <form>
                <div class="form-group">
                    <label>Nickname:</label>
                    <input type="textbox" name="ciudad" class="form-control">
                </div>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="textbox" name="ciudad" class="form-control">
                </div>
                <div class="form-group">
                    <label>Apellido:</label>
                    <input type="textbox" name="ciudad" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="textbox" name="ciudad" class="form-control">
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="textbox" name="ciudad" class="form-control">
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="latitude">Rol</label>
                    <div class="col-md-9">
                        <label class="radio-inline">
                            <input type="radio" name="latnordsud" value="nord" id="nord">
                            Administrador
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio" name="latnordsud" value="sud" id="sud" checked="">
                            Usuario
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" name="descripcion"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn float-right btn-outline-success" style="margin-left: 5px;">Agregar</button>
                    <button class="btn float-right btn-outline-danger">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>