<div class="divmenu" >
    <app-navbar></app-navbar>
    <img class="img-fluid" src="./assets/Imagenes/logoredu.png"  alt="Logoredu">
</div>


<div class="container-fluid" style="background-color: #ffffff; ">
    <div class="row justify-content-center">
        <div class="col-10" style="background-color: white;">
            <h1>¿Quieres acceder al foro?</h1>

            <p>Te contamos que para acceder al foro debes estar subscripto a Full Viajes. </p>
            
            <p>Ademas sabias que si te registras a nuestra página podras acceder a contenido exclusivo como</p>
           
           <div class="row">
                <div class= "container-caja">
                    <div class="caja1">

                        <img src="./assets/Imagenes/LevelAccesForo/clima.png" class="" > 
                        <h2> <strong>Clima Historico</strong></h2>

                    </div>
                </div>
                
                <div class= "container-caja">
                    <div class="caja1">

                        <img src="./assets/Imagenes/LevelAccesForo/interactuar.png" alt="clima"> 
                        <h2> <strong>Interactuar con otros usuarios</strong></h2>

                    </div>
                </div> 
        </div>
            <p>¡Te invitamos a registrarte o a iniciar sesión!</p>
           <div class="row justify-content-center">

            <div class="col-sm-5">
                
            <a class="nav-link" routerLink="/formulario">
                <button type="button" class="btn btn-primary regis">Registrarse</button>
            </a>
            </div>


            <div class="col-sm-3">
                <a class="nav-link" routerLink="/usuario">
                    <button type="button" class="btn btn-primary regis">Inicia sesion</button>
                </a>
            </div>
            
           </div>
           

            <br>
            <p> Sino continua navegando y registrate cuando estes listo</p>
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary regis2">Continuar navegando</button>
                </div>
            </div>
        </div>
   
    </div>
</div>

