<div class="divmenu" >
    <div *ngIf="estado==false;">
        <app-navbar></app-navbar>
    </div>
    <div *ngIf="estado==true;">
        <app-regnavbar></app-regnavbar>
    </div>
    <img class="img-fluid" src="./assets/Imagenes/logoredu.png"  alt="Logoredu">
</div>

<div class="container-fluid">
    <div class="row justify-content-center" >
  
                <div class="col-sm-7" id="Info">
                   
                      <h1>¡ Información importante !</h1>
                      <img src="./assets/Imagenes/Eventos/covicheado.jpg" class="img mx-auto d-block" id="covicheado" alt="Covid">
                     
                      <p> Te contamos que debido a la actual situación de pandemia , los eventos quedan cancelados hasta  nuevo aviso.</p>

                      <p>Esperamos con muchas ansias tener novedades proximamente </p>

                      <a routerLink="/principal"><button class="btn float-right ini " style="margin-left: 5px;">Volver al inicio</button></a>
                </div>
        
    </div>
</div>