<body>

<!--SeccionBanner-->




<!--Seccion Contenido-->
<div class="container-fluid" style="background-color: #FAFBFD; height:780px;">
   
    <div class="row">
        <div class="col-1">
           
        </div>
        <div class="col-10 justify-content-center" id="Formulario" >
            <strong>
                <h1>Añadir nuevo tópico</h1>
            </strong>
           
            <img src="./assets/Imagenes/Foro/pixlr-bg-result.png" class="img-fluid center-block" id="people" width="250px" height="200px">
           
            <div class="form-group">
               
                <strong>
                    <label for="exampleFormControlInput1">Título</label>
                </strong>
                <input type="text" class="form-control" id="Titulo" placeholder="Ingrese un titulo">
            </div>


            <div class="mb-3"  >
                
                <textarea class="form-control" id="exampleFormControlText" rows="4" placeholder="Nose que ponerle"></textarea>
            </div>

            
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="button " class="btn btn-primary add"> Agregar </button>
                </div>
                <div class="col-6">
                    <a routerLink="/foro"><button type="button " class="btn btn-primary add"> Volver atras </button></a>
                </div>
              
            </div>
          
               
          
        </div>

        <div class="col-1">
         
        </div>
       
    </div>
   
</div>




</body>