@{
    ViewBag.Title = "Perfil de Inicio";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Bienvenido
            </div>
            <div class="card-body">
                @if (Session["idUsuario"] != null)
                {
                    <p>Name: @Session["username"].ToString()</p>
                    <p>Email: @Session["email"].ToString()</p>
                    <a href="@Url.Action("Logout","Users")" class="btn btn-warning">Cerrar Sesión</a>
                }
            </div>
            <p>Acceder a <a href="~/Usuario">Panel de Administracion de Usuario</a></p>
        </div>

    </div>
</div>
