
@{
    ViewBag.Title = "No tiene acceso";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <h1 class="alert-danger">Usted No tiene autorización para ingresar a esta pagina</h1>
    <h2 class="alert-warning">Para poder acceder debe contar con rol de Administrador</h2>
    <a href="~/Users">Volver</a>
</div>
