
@{
    ViewBag.Title = "Regenerar Contraseña y Token de Activación";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <h2>Regenerar Contraseña y Token de Activación</h2>
    <h3>Aún no se ha implementado</h3>
    <a href="~/Users">Volver</a>
</div>