
@{
    ViewBag.Title = "Se ha verificado Mail";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <p>@ViewBag.Mensaje</p>
    <p>@ViewBag.Status <a href="~/@ViewBag.Dir">Aqui</a></p>
</div>