<app-sidebardash></app-sidebardash>
<div class="container">
    <h2>Administrar Usuarios</h2>
    <div class="row">
        <a routerLink="/adduser"><button class="btn btn-outline-primary"><i class="fas fa-user-plus"></i> Agregar Usuario</button></a>
        <div class="float-right">
            <div class="m5"><i class="fa fa-eye" ></i> Ver</div>
            <div class="m5"><i class="fas fa-plus-circle"></i> Activar</div>
            <div class="m5"><i class="fas fa-minus-circle"></i> Desactivar</div>
            <div class="m5"><i class="fas fa-edit"></i> Editar</div>
            <div class="m5"><i class="fas fa-eraser"></i> Borrar</div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nickname</th>
                        <th scope="col">Email</th>
                        <th scope="col" class="d-none d-sm-table-cell">Estado</th>
                        <th scope="col" class="d-none d-md-table-cell">Rol</th>
                        <th scope="col" class="d-none d-md-table-cell">Nombre</th>
                        <th scope="col" class="d-none d-lg-table-cell">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row"  *ngFor="let user of users">
                        <td>
                            {{user.nickname}}
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                        <td class="d-none d-sm-table-cell">
                            {{user.active}}
                        </td>
                        <td class="d-none d-md-table-cell">
                            {{user.rol}}
                        </td>
                        <td class="d-none d-md-table-cell">
                            {{user.nomapel}}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {{user.user_descripcion}}
                        </td>
                        <td>
                            <a routerLink="/viewuser/{{user.id_usuario}}"><i class="fas fa-eye" ></i></a>
                            <a routerLink="/edituser/{{user.id_usuario}}"><i class="fas fa-edit"></i></a>
                            <a routerLink="/activeuser/{{user.id_usuario}}"><i class="fas fa-plus-circle"></i></a>
                            <a routerLink="/deactiveuser/{{user.id_usuario}}"><i class="fas fa-minus-circle"></i></a>
                            <a routerLink="/deluser/{{user.id_usuario}}"><i class="fas fa-eraser"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>