<header>
    <div class="container-fluid" id="ContainerNav" >
        <div class="row justify-content-end">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent  !important; height: 50px;position:absolute;z-index: 100;" >
                    <button id="buttonnavtoggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav  justify-content-end" >
                        <li class="nav-item active">
                        <a class="nav-link" routerLink="/principal"> <button>Home</button> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button>Ciudades</button>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <tr *ngFor="let city of cities">
                                    <td class="dropdown-item" routerLink="/editcity/{{city.id_ciudad}}">{{city.nombre}}</td>
                                </tr>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#contactanos"> <button class="btn-toggle" id="btn-toggle">Contactanos </button> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/city"> <button> <i class="fas fa-search"></i> Buscar </button> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/usuario"> <button style="width: 185px;" style="width:auto;">   Login/ ¿Nuevo Usuario?  </button> <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    </div>
               </nav>
         </div>   
    </div>  

        
    </header>