<div class="d-flex">
    <div id="sidebar-container" class= "bg-secondary" style="background-color: #f15d39!important; color:white">
       
        <div class="sidebar-header" id="UserProfile" style="align-items: center;">
            <img src='./../../../assets/Imagenes/Turista.png' class="img-fluid rounded-circle avatar nr-2" style="margin-left:50px;margin-bottom:15px;">
            <h2>Nombre usuario</h2> 
        </div>

        <div class="menu" style="text-decoration: none;">

            <a  class="closebtn"><i class="fas fa-times-circle"></i>
            </a>
            <a href="#" class="d-block p-3 text-light">  <i class="fas fa-user nr-4 "></i> Perfil </a>
            
            <a href="#" class="d-block p-3 text-light">  <i class="fas fa-cog nr-4 "></i> Ajustes </a>
            
            <a href="#" class="d-block p-3 text-light">   <i class="fas fa-bullhorn nr-4  "></i> Foro </a>
            <br>
            <br>
            
            <a href="#" class="d-block p-3 text-light"> <i class="fas fa-home nr-4 "></i>Volver a página principal </a>
            
            <a href="#" class="d-block p-3 text-light"><i class="fas fa-sign-out-alt nr-4 "></i> Cerrar Sesión  </a>
        </div>
    </div>


     <div class="portada">
            <img src='./../../../assets/Imagenes/Turista.png' class="img-fluid rounded-circle avatar nr-2" >
            <h2 style="color: white;">Nombre y Apellido</h2> 
            <h5>@Nickname</h5>
            <div class="info">
                <div class="box">
                    <h2>Información</h2>
                    <br>
                    <p > General </p>
                    <p><i class="fas fa-user"></i> Nombre: Nombre Apellido </p>
                    <p><i class="far fa-envelope"></i> Email: user@dominio.com </p>
                    <p>Redes sociales (opcional)</p>
                    <p><i class="fab fa-instagram">  </i> Instagram: </p>
                    <p><i class="fab fa-twitter"></i> Twitter:</p>
                 
                </div>
                <div class="box">
                    <h2>About me</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla quidem voluptas esse ut fugiat, pariatur aliquid debitis blanditiis! Accusamus dolor, similique aliquam autem eligendi debitis dolore voluptatum suscipit tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quaerat ea officiis veritatis ducimus pariatur doloremque, in, ipsa deleniti illo, alias atque quis neque nostrum a facere odio tempore repudiandae!</p>
                </div>
            </div>
     </div>
</div>