<div class="divmenu" >
    <app-navbar></app-navbar>
    <img class="img-fluid" src="./assets/Imagenes/logoredu.png"  alt="Logoredu">
</div>

<div class="container-fluid">
<div class="row justify-content-center">

    <div class="col-12 justify-content-center ">
        <img src="./../../../assets/Imagenes/LevelAcces/detener.png" class="img mx-auto d-block" id="stop" alt="Detente">

        <h2>Disculpe pero no puede acceder aquí.</h2>
        <p>Te sugerimos ir a tu perfil o volver a inicio</p>
    </div>
<div class="col-12">
    <a routerLink="/principal2"><button class="btn float-right ini " style="margin-left: 5px;">Volver al inicio</button></a>
    <a routerLink="/perfil"><button class="btn float-right per ">Ir a Perfil</button></a>
</div>
</div>
</div>
