<div class="divmenu" style="background-color: #eaeaea;">
    <app-regnavbar></app-regnavbar>
</div>


<div class="container-fluid" style="background-color: #FAFBFD;">
    <div class="row justify-content-center" style="background-color: #FAFBFD(255, 255, 255);">

        <div class="col-11" id="Topicos" style="background-color: rgb(255, 255, 255);">

            <div class="row" id="Topico">
                <div class="col-sm-4 col-md-4 col-lg-3 align-items-center justify-content-center  .col-sm-3">
                    <img src="./assets/Imagenes/Foro/avatar/048-girl-24.png"
                        class="img-fluid rounded-circle my-4  d-md-block shadow  mx-auto d-block" id="Avatar" alt="">
                    <h3>@NickName</h3>
                </div>
                <div class="col-sm-7 col-md-8 col-lg-9 align-items-center justify-content-center ">
                    <h5> Día- Mes - Año</h5>
                    <strong>
                        <h3>{{tema.titulo}}</h3>
                    </strong>
                    <p style="text-align: justify;">{{tema.contenido}}</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">

                        <div class="col-4">
                            <a routerLink="/replies"><i class="far fa-comments"></i> Ver todas las respuestas</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="col-11 reply" id="Resp">
            <strong>
                <h1><i class="fas fa-reply"></i> Añadir respuesta</h1>
            </strong>
            <div class="row">
                <div class="col-1">

                </div>
                
                    <div class="col-10 justify-content-center" id="Formulario">
                        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

                        <div class="mb-4">

                            <textarea #contenido="ngModel" name="contenido" [(ngModel)]="service.formData.contenido"
                                class="form-control" id="exampleFormControlText" rows="4"
                                placeholder="Ingrese su respuesta"></textarea>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-2 justify-content-center">
                                <button type="submit" class="btn btn-primary Reply"> Responder </button>
                            </div>
                            <br>
                            <div class="col-md-2 justify-content-center ">
                                <a routerLink="/topicos">
                                    <button type="button " class="btn btn-primary cancel"> Cancelar</button>
                                </a>
                            </div>
                        </div>
                    </form>
                    </div>
               

            </div>

            <div class="col-1">

            </div>

        </div>

    </div>

</div>